/* custom css */
#quicksettings {
  opacity: 0.3;
}

#quicksettings>div>div {
  cursor: not-allowed;
}

#quicksettings>div>div>* {
  pointer-events: none;
}

#refresh_sd_model_checkpoint,
#acActiveCheckbox,
.gradio-container .tabs>div:first-child button:nth-child(n+5),
#mode_extras>div:first-child button:nth-child(n+3) {
  display: none;
}

.performance {
  white-space: unset;
}

.output-html p {
  word-break: break-word;
}

.output-html p br {
  content: "";
  display: block;
  margin-bottom: 0.5em;
}

.custom_ui__trans_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.custom_ui__trans_wrapper em {
  font-size: 12px;
  font-style: normal;
}

.custom_ui__prompt_trans {
  font-size: 12px;
}

#settings .custom_ui__trans_wrapper {
  align-items: flex-start;
}
